body {position:relative;
width:100%;
height:700px;
border:solid 1px;
}

div#header {position:relative;
			width:100%;
			height:10%;
			border:solid ;
			background-color:#A3AE7E;
			color:#5C604D;
			padding: 10px;
}

div#suggestions {position:relative;
				width:100%;
				height:45%;
				border:solid 1px;
				background-color:#5C604D;
				color:#C8CFB4;
}

div#feed {position:relative;
				width:100%;
				height:25%;
				border:solid 1px;
				background-color:#5C604D;
				color:#C8CFB4;
}

div#footer {position:relative;
			width:100%;
			height:20%;
			border:solid 1px;
			background-color:#C8CFB4;
			color:#5C604D;
}

div#myBucket {position: fixed;
				left:50px;
				bottom: 75px;
}

div#createEvent{position: fixed;
				left:325px;
				bottom: 75px;
}

.suggestionTitle{
	font-size: .85em;
	font-family: sans-serif;
}

div.suggestion{
	display: inline-block;
	height: 150px;
	width: 150px;

}

@media screen and (max-width: 320px;) {
body {position:relative;
width:100%;
height:100%;
border:solid 1px;
}

div#header {position:relative;
			width:100%;
			height:10%;
			border:solid ;
			background-color:#A3AE7E;
			color:#5C604D;
			padding: 10px;
}

div#suggestions {position:relative;
				width:100%;
				height:45%;
				border:solid 1px;
				background-color:#5C604D;
				color:#C8CFB4;
}

div#feed {position:relative;
				width:100%;
				height:25%;
				border:solid 1px;
				background-color:#5C604D;
				color:#C8CFB4;
}

div#footer {position:relative;
			width:100%;
			height:20%;
			border:solid 1px;
			background-color:#C8CFB4;
			color:#5C604D;
}

div#myBucket {position: fixed;
				left:50px;
				bottom: 75px;
}

div#createEvent{position: fixed;
				left:325px;
				bottom: 75px;
}

.suggestionTitle{
	font-size: .85em;
	font-family: sans-serif;
}

div.suggestion{
	display: inline-block;
	height: 150px;
	width: 150px;

}
}

@media screen and (max-width: 360px;) {
body {position:relative;
width:100%;
height:100%;
border:solid 1px;
}

div#header {position:relative;
			width:100%;
			height:10%;
			border:solid ;
			background-color:#A3AE7E;
			color:#5C604D;
			padding: 10px;
}

div#suggestions {position:relative;
				width:100%;
				height:45%;
				border:solid 1px;
				background-color:#5C604D;
				color:#C8CFB4;
}

div#feed {position:relative;
				width:100%;
				height:25%;
				border:solid 1px;
				background-color:#5C604D;
				color:#C8CFB4;
}

div#footer {position:relative;
			width:100%;
			height:20%;
			border:solid 1px;
			background-color:#C8CFB4;
			color:#5C604D;
}

div#myBucket {position: fixed;
				left:50px;
				bottom: 75px;
}

div#createEvent{position: fixed;
				left:325px;
				bottom: 75px;
}

.suggestionTitle{
	font-size: .85em;
	font-family: sans-serif;
}

div.suggestion{
	display: inline-block;
	height: 150px;
	width: 150px;

}
}

div.activityOne {
    width: 300px;
    height: 100px;
	top: 100px;
    left: 0px;
    background-color: #5C604D;
    position: fixed;
    -webkit-animation-name: exampleOne; /* Chrome, Safari, Opera */
    -webkit- animation-delay: 30s;
    -webkit-animation-duration: 55s; /* Chrome, Safari, Opera */
    animation-name: exampleOne;
       animation-delay: 30s;
    animation-duration: 55s;
    margin: 10px;
}

div.activityTwo {
    width: 300px;
    height: 100px;
    top: 100px;
    left: 400px;
    background-color: #5C604D;
    position: fixed;
    -webkit-animation-name: exampleTwo; /* Chrome, Safari, Opera */
    -webkit- animation-delay: 15s;
    -webkit-animation-duration: 25s; /* Chrome, Safari, Opera */
    animation-name: exampleTwo;
    animation-delay: 15s;
    animation-duration:25s;
    margin: 10px;
}

div.activityThree {
  width: 300px;
    height: 100px;
    top: 100px;
     left: 400px;
    background-color: #5C604D;
    position: fixed;
    -webkit-animation-name: exampleThree; /* Chrome, Safari, Opera */
    -webkit- animation-delay: 30s;
    -webkit-animation-duration: 25s; /* Chrome, Safari, Opera */
    animation-name: exampleThree;
    animation-delay: 30s;
    animation-duration: 25s;
    margin: 10px;
}

div.activityFour {
    width: 300px;
    height: 100px;
    top: 100px;
    left: 400px;
    background-color: #5C604D;
    position: fixed;
    -webkit-animation-name: exampleFour; /* Chrome, Safari, Opera */
    -webkit- animation-delay: 45s;
    -webkit-animation-duration: 25s; /* Chrome, Safari, Opera */
    animation-name: exampleFour;
    animation-delay: 45s;
    animation-duration: 25s;
    margin: 10px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes exampleOne {
    0%   {left:0; top:100px;}
    0.1%  {left:79px; top:100px;}
    0.3%  {left:156px; top:100px;}
    0.5%  {left:233px; top:100px;}
    0.7% {left: 310px; top:100px;}
    0.8% {left: 400px; top:100px;}
    40% {left:400px; top:100px;}
    50% {left:400px; top:100px;}
    60% {left:400px; top:100px;}
    70% {left:400px; top:100px;}
    80% {left:400px; top:100px;}
    90% {left:400px; top:100px;}
    98%   {left:400px; top:100px;}
    98.5%  {left:233px; top:100px;}
    99%  {left:156px; top:100px;}
    99.5%  {left:79px; top:100px;}
    100%  {left:0px; top:100px;}
}

/* Standard syntax */
@keyframes exampleOne {
    0%   {left:0; top:100px;}
    0.1%  {left:79px; top:100px;}
    0.3%  {left:156px; top:100px;}
    0.5%  {left:233px; top:100px;}
    0.7% {left: 310px; top:100px;}
    0.8% {left: 400px; top:100px;}
    40% {left:400px; top:100px;}
    50% {left:400px; top:100px;}
    60% {left:400px; top:100px;}
    70% {left:400px; top:100px;}
    80% {left:400px; top:100px;}
    90% {left:400px; top:100px;}
    98%   {left:400px; top:100px;}
    98.5%  {left:233px; top:100px;}
    99%  {left:156px; top:100px;}
    99.5%  {left:79px; top:100px;}
    100%  {left:0px; top:100px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes exampleTwo {
    0%   {left:400px; top:100px;}
    0.1%  {left:323px; top:100px;}
    0.3%  {left:246px; top:100px;}
    0.5%  {left:169px; top:100px;}
    0.7%  {left:79px; top:100px;}
    0.8% {left: 0px; top:100px;}
    40% {left:0px; top:100px;}
    50% {left:0px; top:100px;}
    60% {left:0px; top:100px;}
    70% {left:0px; top:100px;}
    80% {left:0px; top:100px;}
    90% {left:0px; top:100px;}
    100% {left:0px; top:100px;}
}

/* Standard syntax */
@keyframes exampleTwo {
    0%   {left:400px; top:100px;}
    0.1%  {left:323px; top:100px;}
    0.3%  {left:246px; top:100px;}
    0.5%  {left:169px; top:100px;}
    0.7%  {left:79px; top:100px;}
    0.8% {left: 0px; top:100px;}
    40% {left:0px; top:100px;}
    50% {left:0px; top:100px;}
    60% {left:0px; top:100px;}
    70% {left:0px; top:100px;}
    80% {left:0px; top:100px;}
    90% {left:0px; top:100px;}
    100% {left:0px; top:100px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes exampleThree {
    0%   {left:400px; top:100px;}
    0.1%  {left:323px; top:100px;}
    0.3%  {left:246px; top:100px;}
    0.5%  {left:169px; top:100px;}
    0.7%  {left:79px; top:100px;}
    0.8% {left: 0px; top:100px;}
    40% {left:0px; top:100px;}
    50% {left:0px; top:100px;}
    60% {left:0px; top:100px;}
    70% {left:0px; top:100px;}
    80% {left:0px; top:100px;}
    90% {left:0px; top:100px;}
    100% {left:0px; top:100px;}
}

/* Standard syntax */
@keyframes exampleThree {
    0%   {left:400px; top:100px;}
    0.1%  {left:323px; top:100px;}
    0.3%  {left:246px; top:100px;}
    0.5%  {left:169px; top:100px;}
    0.7%  {left:79px; top:100px;}
    0.8% {left: 0px; top:100px;}
    40% {left:0px; top:100px;}
    50% {left:0px; top:100px;}
    60% {left:0px; top:100px;}
    70% {left:0px; top:100px;}
    80% {left:0px; top:100px;}
    90% {left:0px; top:100px;}
    100% {left:0px; top:100px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes exampleFour {
    0%   {left:400px; top:100px;}
    0.1%  {left:323px; top:100px;}
    0.3%  {left:246px; top:100px;}
    0.5%  {left:169px; top:100px;}
    0.7%  {left:79px; top:100px;}
    0.8% {left: 0px; top:100px;}
    40% {left:0px; top:100px;}
    50% {left:0px; top:100px;}
    60% {left:0px; top:100px;}
    70% {left:0px; top:100px;}
    80% {left:0px; top:100px;}
    90% {left:0px; top:100px;}
    100% {left:0px; top:100px;}
}

/* Standard syntax */
@keyframes exampleFour {
    0%   {left:400px; top:100px;}
    0.1%  {left:323px; top:100px;}
    0.3%  {left:246px; top:100px;}
    0.5%  {left:169px; top:100px;}
    0.7%  {left:79px; top:100px;}
    0.8% {left: 0px; top:100px;}
    40% {left:0px; top:100px;}
    50% {left:0px; top:100px;}
    60% {left:0px; top:100px;}
    70% {left:0px; top:100px;}
    80% {left:0px; top:100px;}
    90% {left:0px; top:100px;}
    100% {left:0px; top:100px;}
}